body {
  background-color: #000000;
}

h1, ft {
  font-family: "Georgia", serif;
  color: #fffdd0;
}

h2, h3, p {
  font-family: "Geogria", serif;
  color: #ffffff;
}

.css1{
  background-color:yellow;
  font-size:50px;
  font-family: georgia;
  font-style:italic;
  font-weight:bold;
  color:red;
  text-shadow: 2px 2px 8px #FF0000;
}

.css3{
  background-color:blue;
  border: 5px solid;
  border-radius: 10px;
}

.css4{
  color:white;
  font-style: italic;
  font-family: Georgia;
  font-weight:bold;
  word-spacing:2px;
}
